/*
 *  For the table which displays the data about the birds-db.
 */
.rootContainer
{
    width: 650px;
    background-color: lightpink;
    border-radius: 15px;
    margin: 0 auto;
    padding: 15px 15px;
}

.birds
{
    background-color: cornsilk;
    border-radius: 15px;
}

.birds th, .birds td
{
    padding: 10px;
}

.birds th
{
    background-color: black;
    color: cornsilk;
    border-radius: 15px;
    text-align: left;
}



/*
 *  For the input-forms, which add data to the birds-db.
 */
.textInputForm
{
    background-color: cornsilk;
    border-radius: 15px;
    margin-top: 0;
    padding: 10px;
}

input
{
    margin-top: 5px;
}



/*
 * General rules.
 */
table
{
    margin: 15px;
}

h1, h3
{
    margin: 0;
    text-align: center;
}

button
{
    width: 125px;
    background-color: cornsilk;
    border-radius: 15px;
    margin-left: 125px;
    padding: 6px 14px;
}



/*
 * Manages the alignment of the data-view and it's interface.
 */
.dataContainer
{
    display: flex;
    flex-direction: row;
}

.interfaceContainer
{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.buttonContainer
{
    display: flex;
    flex-direction: column;
    gap: 5px;
}